body {
  font-family: "Century Gothic", Montserrat;
  background: black;
  color: white;
  position: relative;
}

p {
  font-size: 16px;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: red;
}

#content {
  margin-left: 250px;
  margin-top: 100px;
  margin-right: 250px;
}

.logo {
  width: 33%;
}
